---
layout: default
---
<div class="pa4 bg-doveGray">
  <div>
    <h1 class="fw4 f5">Components</h1>
    <!-- This is a bit of a weird work around, but I want a list of components on this page, so I created _data/components.yml in an attempt to templatize this list of includes. There may be a better way to do this, but I'm just glad I got it to work. -->
    <div>
      {% for component in site.data.components %}
        <div class="mb5">
          <h2 class="mt0 fw4 f5">{{ component.name }}</h2>
          <div>
            {% include {{ component.include }} %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

</div>
