<div class="pa4 bg-white w-75">
  <div class="w-50 fl pr4">
    <h4 class="knockout fw3 f6 ttu mb2 mt0">Around The Nation</h4>
    <h2 class="gotham fw6 f3 mt0 mb2">A Year Later, Unfiltered Flint Tap Water Is Still Unsafe To Drink</h2>
    <p class="gotham f6 lh-copy mv0">One year has passed since the mayor of Flint, Mich., declared a state of emergency over lead-tainted water. Frustration abounds as even now the water isn't safe to drink without being additionally filtered.</p>
  </div>
  <div class="w-50 fl">
    <img src="http://media.npr.org/assets/img/2016/12/14/gettyimages-513770162_wide-1e4f939071f5e465850e53eba1e8155c99e415bb-s800-c85.jpg">
  </div>
  <div class="cf">
</div>
